.hero {
  z-index: 99;
}

.hero:before {
  content: '';
  position: absolute;
  z-index: 0;
  right: 0;
  width: 25%;
  height: 100vh;
  background: var(--accent-color);
  clip-path: polygon(150px 0, 100% 0%, 100% 100%, 0 100%);
}

.portrait {
  border-radius: 10%;
  z-index: 99;
  height: 500px;
  width: 500px;
  border: 7px solid var(--text-color-dark);
}

.brief {
  font-family: 'Poppins';
  color: var(--text-color-dark);
  font-size: 1.2rem;
  border-radius: 15px;
  padding: 24px 24px;
  width: auto;
}

.highlight {
  color: var(--accent-color) !important;
}

.call-to-action {
  border-radius: 30px;
  background-color: coral;
  width: 190px;
  height: 40px;
  font-family: Poppins;
}
.call-to-action span {
  margin-left: 10px;
}
.call-to-action:hover {
  background-color: white;
  color: coral;
}

@media all and (max-width: 555px) {
  .portrait {
    border-radius: 50%;
    z-index: 99;
    height: 200px;
    width: 200px;
    border: 7px solid var(--text-color-dark);
    margin-bottom: 40px;
  }
  .portait-section {
    order: 1;
  }

  .hero:before {
    display: none;
  }

  .hero {
    order: 2;
  }
}
